$max-width: 1920px;
$text-color: #fff;
$background: linear-gradient(#0069e3, #0056ba);

$spider-man-616-height: 360px;
$mulher-aranha-65-height: 300px;
$spider-man-1610-height: 324px;
$sp-dr-14512-height: 324px;
$spider-ham-8311-height: 146px;
$spider-man-90214-height: 376px;
$spider-man-928-height: 360px;
