.container {
  display: flex;
}

.carousel {
  flex: 1;
  left: -15%;
  position: relative;
  width: 100%;
}

.wrapper {
  cursor: grab;
  height: 130vh;
  position: relative;

  &:active {
    cursor: grabbing;
  }
}

.details {
  margin-top: 3rem;
  position: relative;
  flex: 1;
}

.hero {
  height: 100%;
  left: 0;
  position: absolute;
  width: 500px;

  img {
    height: 100%;
    object-fit: contain;
    object-position: center right;
    width: 100%;
  }
}
